.App {
  text-align: center;
    background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.box-wrapper{
 width: 400px;
 margin: 20px 0 0 0;

border: 1px solid #000;
background-color: cornsilk;
border-radius: 9px;
}

.num-wrapper{
display: flex;
justify-content: space-around;
padding: 20px 0 0 0;
 
font-size: 23px;
font-weight: 700;

}

.nmbr{
    width: 33px;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 10px;
    background-color: #b9b8b7;
    color: black;

}

.nmbrColor{
background-color: #42ed27;
transition: 1000ms;
}



.txt-wrapper{
color: darkgrey;
padding: 0 20px;
}

.btn-wrapper{
display:flex;
 margin: 0 0 25px 0;
 justify-content: center;
 column-gap: 55px;
}

button{
width: 90px;
padding: 8px 0;
font-size: 20px;
}