body{
margin: 0;
padding: 0;
box-sizing: border-box;
  background-color: #42609a;
}


.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
 
}

.flashcards div {
  margin: 20px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  cursor: pointer;

    border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  border-radius: 7px;
  aspect-ratio: 2 / 1;
}

div.selected {
  border: 1px solid #e03131;
  background-color: #e03131;
  color: #fff;
  font-weight: bold;
}