*{
margin: 0;
padding: 0;
box-sizing: border-box;
background: rgb(105, 105, 105);
}

.App {
  text-align: center;
  background: rgb(81, 81, 81);
}

.judo_img{
width: 250px;
border-radius: 10px;
margin: 35px 0;
}

.p_txt{
font-size: 35px;
text-shadow: 1px 1px 1px #2f2f2f;
margin-bottom: 35px;
background: rgb(81, 81, 81);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7b7b7b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
