.pagination{
display: flex;
align-items: center;
column-gap: 10px;
}

button{
width: 30px;
height: 30px;
}

.postTxt{
width: 300px;
padding: 8px;
background-color: rgb(46, 57, 139);
border: 1px solid rgb(181, 181, 181);
margin-bottom: 10px;
border-radius: 6px;

}